 <div class="container" align="center">
 <body background="http://us.cdn2.123rf.com/168nwm/hospitalera/hospitalera0811/hospitalera081100200/3808052-green-background-compiled-by-a-multitude-of-tiny-cubes-tiles-seamlessly-as-a-pattern.jpg">

<% if @current_user %>
  <h1> Welcome <%= "#{@current_user.email}" %> </h1>
   <br><br>
  <form method="POST" action="/users/<%= @user%>/tweets">
  	Tweet Now: <input type="text" name="tweet" placeholder="your tweets">
  	<input type="submit" value="Tweet">

  </form><br><br>

  <a href="/logout">Log Out</a>
   <% end %>
<br>
<img class "img" src="http://frjohnpeck.com/wp-content/uploads/2013/01/TwitterBird.jpg" height=400, width=600 align="center">

<% if !@current_user %>
<h3>~ Welcome to twitter Jr ~</h3>
<h5>Delightfully tacky, yet unrefined !</h5>
<button><a href="/login">Sign in</a></button>
or
<button><a href="/signup">Sign up</a></button> while its free! <br><br>



<%end%>

</div>
<center>
<img src="http://thebootcamp.co.uk/wp-content/uploads/2013/03/as-featured-for-Home-Page-full-horizontal-version-1024x371.png" width="700", height="200">
</center>

