<h1>Please provide info</h1>
  <form action="/signup" method="post">
  	<input type="name" type="text" placeholder="your name">
    <input name="email" type="text" placeholder="your email">
    <input name="password" type="password" placeholder="password">
    <input type="submit" value="Sign Up">
  </form>